.section-two {

	.text-area-about-us {

		margin-bottom: 50px;
		text-align: center;

		h1 {
			font-family: Quicksand;
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 50px;
			text-align: center;
			text-transform: capitalize;
			position: relative;
			display: inline-block;
		}

		h1:after {
			content: '';
			position: absolute;
			width: 100px;
			height: 1px;
			border: 2px solid #E73587;
			display: block;
			left: 0;
			right: 0;
			margin: auto;
		}

		p {
			font-family: Avenir Next;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 27px;
			text-align: center;
			color: #2B2B2B;
			margin-top: 40px;
		}
	}
}
