article {
    padding-bottom: 50px;

    h1 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
        padding-top: 20px;
    }

    p {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        padding-top: 15px;
    }
}

figure {
    padding-top: 40px;
    img {
        width: 600px;
        height: 300px;
    }
}

figcaption {
    font-size: 20px;
    font-weight: bold;
    color: slategray;
    /* text-align: center; */
    text-transform: capitalize;
}