aside {
    padding-left: 20px;
    list-style: none;
    text-decoration: none;

        h2 {
            font-family: Quicksand;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            padding-top: 20px;
            text-transform: capitalize;
        }

    .widget_archive {

        h2 {
            font-family: Quicksand;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            padding-top: 20px;
            text-transform: capitalize;
        }
    }

    .widget_text {

        h2 {
            font-family: Quicksand;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            padding-top: 20px;
            text-transform: capitalize;
        }
    }

    caption {
        font-family: Avenir Next;
        font-size: 20px;
        line-height: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: capitalize;
        font-weight: 900;
        text-align: left;
    }

    .textwidget {
        font-family: Avenir Next;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 15px;
        text-transform: capitalize;
        text-align: center;
    }
    
    th {
        padding-right: 10px;
    }

    td {
        padding-right: 10px;
        padding-bottom: 10px;
    }

    tr {
        padding-bottom: 20px;
    }

    ul {
        padding-top: 20px;
    }

    a {
    font-family: Avenir Next;
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    text-transform: capitalize;
    font-weight: 900;
    text-align: left;
    }

    .textwidget {
        
    }

    .widget_nav_menu {

        h2 {
            text-align: left;
        }
    }

    .menu {

        a {
            font-weight: 200;
        }

        li {
            padding-bottom: 3px;
        }

        ul {
            padding-bottom: 20px;
        }
    }

    .widget_media_image {

        border: 1px solid;

        h2 {
            font-family: Quicksand;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            padding-top: 20px;
            text-transform: capitalize;
            border: 1px solid;
            text-align: center;
        }
    }

    .widget_nav_menu {

    }

    .widget_search {

        h2 {
            text-align: center;
        }

        label {

        }
    }

    .widget_recent_comments {

        padding-bottom: 20px;

        h2 {
            text-align: left;
        }

        a {
            font-weight: 200;
        }
    }

    .widget_media_video {

        h2 {
            text-align: left;
            padding-bottom: 20px;
        }

        a {
            font-weight: 200;
        }
    }

    .widget_categories {
        
    }
}