.section-one {
	padding-bottom: 40px;

	.main-container {

		display: flex;
		flex-direction: column;

		@media screen and (min-width: $mobile ) {
			flex-direction: row;
		}

		.text-area-section {
			padding-top: 50px;
			@media screen and (min-width: $mobile ) {
				width: 45%;
				padding-top: 115px;

			}

			h1 {
				left: 135px;
				top: 252px;
				font-family: Quicksand;
				font-style: normal;
				font-weight: bold;
				font-size: 57px;
				line-height: 1.2;
				color: #020E35;
				margin-bottom: 50px;

				@media screen and (min-width: $desktop ) {
					//width: 45%;
					//padding-top: 115px;
					font-size: 97px;
					line-height: 121px;
					height: 363px;
				}
			}

			button {
				position: absolute;
				width: 125px;
				height: 40px;
				background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
				color: white;
				text-decoration: none;
				border: none;
			}
		}

		.image-area-section {

			img {
				@media screen and (min-width: $desktop ) {
					width: 118%;
				}
			}
		}
	}
}
